.principalHeader {
    color: #fff;
    background-color: #b99d6b;
    margin-bottom: 30px;
}

.pointer {cursor: pointer;}

.right{
    div{
        left: -104px !important;
    }
}

// Menu animated

.dropdown_menu{
    .dropdown_item{
        transform-origin: top center;
        animation: slideDown 300ms ease-in-out forwards;
    }
}
         
@keyframes slideDown {
  0% { 
    opacity: 0;
    transform: translateY(-60px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}